{% extends "base.html" %}
{% block content %}
		<div class = "row header">
			<div class = "col-md-6">
				<h1>Domains</h1>
			</div>
			<div class = "col-md-6">
				
			</div>
		</div>

		<div class = "row">
			<div class = "col-md-12">
				<hr>
			</div>	
		</div>

		
		
		{% for domain in domains %}
		<div class = "row">
				<div class = "col-md-12">
					<h4 class = "name">{{domain.domain_name}}</p>
					<p> {{domain.wfs_name}} </p>
					<p> {{domain.parameters}}
				</div>

				

		</div>

	{% endfor %}

{% endblock %}